
.order_contents{
  position: relative;
  width: 900px;
  height: auto;
  margin: 0px auto;
}

.order_items_list{

  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  width: 700px;
  height: 700px;
  margin: 0px auto;
  top: 30px;
}

.order_item{
  border: 1px solid gray;
  margin: 23.5px 23.5px;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  /* box-shadow: 3px 3px 3px 3px gray; */
}

.carousel_left{
  position: absolute;
  width: 90px;
  top: 330px;
  left: -40px;
  color:  rgba(112, 112, 112, 0.481);
  font-size: 40px;
  transition: 0.3s;
}
.carousel_right{
  width: 90px;
  position: absolute;
  top: 330px;
  left: 710px;
  color: rgba(112, 112, 112, 0.481);
  font-size: 40px;
  transition: 0.3s;
  transform-origin: center center;
}
.carousel_left:hover{
  transform: translate(-10px, 0px);
}

.carousel_right:hover{
  transform: translate(10px, 0px);
}
.order_pagenation{
  position: relative;
  height: 30px;
  top: 30px;
  margin: 0px auto;
  text-align: center;
}

.pageNum{
  padding: 0px 5px;
}