.header_area{
  position: relative;
}

.shadow_bot_line{
  border-bottom: 1px solid rgba(128, 128, 128, 0.406);
}

.ico_gnb_area{
  position: relative;
  width: 1130px;
  height: 130px;

  padding: 0px;
  margin: 0px auto;

}

.gnb_box{
  position: absolute;;
  width: 550px;
  height: 52px;
  
  display: flex;
  justify-content: center;
  
  top: 66px;
  left: 320px;

  /* border-bottom: 4px solid gray; */
}

.gnb_itm{
  float: left;
  padding: 15px;
  display: block;
  transition: 0.1s;
}

.gnb_itm:hover{
  scale: 1.2;
  font-size: 33px;
}


li img{
  width: 30px;
  height: 30px;
}

li span{
  font-size: 30px;
}


.lnb_area{
  position: relative;
  width: 1130px;
  height: 40px;

  margin: 0px auto;

  background-color: silver;
}

.shop_sub_menu{
  position: relative;
  width: 135px;
  
  left: 470px;
}

.shop_sub_menu_list{
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: beige;
}

.shop_sub_menu_item{

  
  padding-left: 20px;

  height: 30px;

  flex-direction: row;
  align-items: center;
  display: flex;
  vertical-align: middle;
}


.user_sub_menu{
  position: absolute;
  width: 135px;
  top: 0px;
  left: 730px;
}

.user_sub_menu_list{
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: beige;
}

.user_sub_menu_item{

  
  padding-left: 20px;

  height: 30px;

  flex-direction: row;
  align-items: center;
  display: flex;
  vertical-align: middle;
}