.review_container{
  position: relative;
  width: 900px;
  height: 800px;
  margin: 0px auto;
}

.review_bar_area{
  position: relative;
  width: 900px;
  height: 130px;
  margin: 50px auto;
  border-bottom: 2px solid gray;
}


.review_rating_text{
  position: relative;
  height: 40px;
  font-size: 40px;
  text-align: right;
}

.review_btn_container{
  width: 900px;
  position: absolute;
  display: flex;
  height: 40px;
  bottom: 0px;
}

.icon{
  width: 20px;
  height: 20px;
}

.review_write_btn{
  width: 100px;
  height: 30px;
  border-radius: 20px;
  border: 1px solid rgba(128, 128, 128, 0.456);
  margin-bottom: 5px;
  margin-left: 5px;
  transition: 0.3s;
  background-color: white;
  display: flex;
  align-items:center;
  justify-content: center;
}

.review_write_btn:hover{
  background-color: rgba(124, 124, 124, 0.44);
}

.review_wirte_area{
  position: absolute;
  bottom: 0px;
  justify-content: flex-start;
}
.review_rating_area{
  position: absolute;
  bottom: 0px;
  right: 0;
}