
.cart_contents{
  position: relative;
  width: 900px;
  height: 900px;
  margin: 0px auto;
}

.cart_list_area{
  border-bottom: 2px solid rgba(177, 177, 177, 0.612);
  position: relative;
  width: 900px;
  height: 700px;
  margin: 0px auto;
  overflow: auto;
  top: 50px;
}

.cart_in_item{
  width: 680px;
  height: 160px;
  border: 1px solid black;
  border-radius: 30px;
  margin: 0px auto 10px auto;
  display: flex;
  justify-content: flex-start;
}

.cart_img_area{
  width: 160px;
  height: 160px;
  text-align: center;
}

.cart_item_img{
  width: 160px;
  display: block;
  margin: 15px auto;
}

.cart_item_title{
  margin-top: 20px;
  margin-left: 10px;
  width: 270px;
}

.cart_item_title h4{
  font-size: 24px;
  border-bottom: 3px solid gray;
}

.item_cost_infor{
  margin-top: 50px;
  color: gray;
}




.cart_item_delete{
  position: relative;
  top: 0px;
  left: 0px;
}