
.cart_contents{
  position: relative;
  width: 900px;
  height: 900px;
  margin: 0px auto;
}

.cart_list_area{
  border-bottom: 2px solid rgba(177, 177, 177, 0.612);
  position: relative;
  width: 900px;
  height: 700px;
  margin: 0px auto;
  overflow: auto;
}
.cart_item_lap{
  margin-top: 50px;
}

.cart_in_item{
  width: 680px;
  height: 160px;
  border: 1px solid black;
  border-radius: 30px;
  margin: 0px auto 15px auto;
  display: flex;
  justify-content: flex-start;
}

.cart_img_area{
  width: 160px;
  height: 160px;
  text-align: center;
  margin-left: 20px;
}

.cart_item_img{
  width: 160px;
  display: block;
  margin: 15px auto;
}

.cart_item_title{
  padding-top: 20px;
  padding-left: 30px;
  width: 37%;
}

.cart_item_title h4{
  font-size: 24px;
  border-bottom: 3px solid gray;
}

.item_cost_infor{
  margin-top: 20px;
  color: gray;
}

.cart_item_count{
  width: 10%;
  padding-top: 70px;
  text-align: right;
}

.cart_item_cntBtn{
  width: 24px;
  border-radius: 5px;
  margin-left: 7px;
  margin-top: 10px;
  transition: 0.3s;
  height: 24px;
  color: rgb(201, 152, 92);
  background-color: white;
  border: 1px solid gray;
}

.cart_item_cntBtn:hover{
  color: white;
  background-color:rgb(201, 152, 92);
}

.cart_item_total{
  padding-top: 70px;
  text-align: right;
  width: 15%;
}

.tiem_delete_area{
  position: relative;
  width: 7%;
}

.item_delete_btn{
  width: 30px;
  height: 30px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 25px;
  border: none;
  transition: 0.3s;
  background: white;
}

.item_delete_btn:hover{
  background-color: gray;
  color: white;
}

.item_KRW{
  position: relative;
  left: -7px;
  text-align: left;
}

.cart_payment_area{
  position: relative;
  width: 700px;
  left: 40px;
  top: 30px;
  display: flex;
}

.cart_payment_area span{
  font-size: 20px;
  margin-left: auto;
}

.cart_payment_area p{
  border-top: 3px solid gray;
  padding-top: 5px;
  margin-left: auto;
}
.payment_btn{
  margin-left: 30px;
  width: 100px;
  border: 2px solid rgba(128, 128, 128, 0.534);
  border-radius: 40px;
  background-color: white;
  transition: 0.3s;
}

.payment_btn:hover{
  border: 2px solid rgba(0, 128, 0, 0.695);
  background: rgb(42, 157, 42);
  color: white;
}