.gnb_box{
  width: 600px;
  position: absolute;
  top: 73px;
  left: 300px;

  text-align: center;
}

.gnb_box > .gnb_itm {
  display: inline-block;
}

.gnb_list > .gnb_itm{
  display: inline-block;
}

.containerBtn{
  width: 135px;
  display: block;
  transition: 0.2s;
  padding: 10px 0px;
}

.containerBtn:hover {
  cursor: pointer;
  box-shadow: 3px 3px 3px 3px gray;
}

.gnb_itm:hover .order_sub_menu{
  display: block;
}

.order_sub_menu{
  width: 135px;
  position: absolute;
  text-align: left;
  z-index: 999;
  
  display: none;
}

.containerBtn:hover .order_sub_menu_list{
  box-shadow: 3px 3px 3px 3px gray;

}

.order_sub_menu_list{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 3px 3px 3px 3px gray;
  background-color: white;
}

.order_sub_menu_item{
  padding: 5px 0px 5px 10px;
  transition: 0.2s;
}

.order_sub_menu_item:hover{
  scale: 1.2;
  transform-origin: left;
  cursor: pointer;
}

.review_sub_menu{
  width: 135px;
  position: absolute;
  text-align: left;
  z-index: 999;
  
  display: none;
}
