
.card_container{
  padding-top: 10px;
}

.card_title{
  padding-left: 10px;
  font-size: 24px;
  border-bottom: 3px solid black;
}

.card_image_Area{
  text-align: center;
  width: inherit;
  height: 180px;
}

.card_image{
  margin-top: 20px;
  width: 200px;
}
.card_cost{
  height: 25px;
  padding-right: 10px;
  display : flex;
  justify-content : right;
  align-items : center;
}
.card_btn_container{
  padding-left: 10px;
}